/*------------------------------------*\
  #COLORS
\*------------------------------------*/
.primary--color{
  color: red;
}

.secondary--color{
  color: green;
}

/*------------------------------------*\
  #STYLES
\*------------------------------------*/

.heading--1{
  font-size: 24px;
}

.body--1{
  font-size: 14px;
}